# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/

# PyInstaller build artifacts
build/
dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
